*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}
.nav{
    justify-content: space-between;
    align-items: center;
    background-color: #c27e90;
    width: 100%;
    display: inline-flex;
}

.img img{
    height: 10vh;
    margin: 2vw;
    padding: 5px;
}
.listanav{
    display: inline-block;
    margin: 2vw;
    padding: 5px;
}
.listanav a{
    list-style: none;
    color: white;
    font-weight: 1000;
    text-decoration: none;
    padding: 10px;
}
.listanav a:hover{
    color: #754c57;
    background-color: white;
    /*
    -otra opcion-
    color: white;
    background-color: #754c57;
    */
    border-radius: 20px;
}
ul{
    padding: 0px 0px 0px 0px;
}
.jorge img{
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.texto{
    background-color: #c27e90;
    color: white;
    margin: 5px;
    padding: 10px;
}
.contenido{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.inline{
    display: inline-flex;
    justify-content: center;
    padding: 5px;
    align-items: center;
}
.inline img{
    height: 40px;
    margin: 10px;
}

#lupa{
    height: 18px;
    opacity: 40%;
    margin: 15px 5px 15px 15px;

}
.buscadorEntero{
    display: flex;
    justify-content: center;
    z-index: 2;
    width: 100%;
}

.grid {
    display: inline-block;
    justify-content: center;
    padding: 20px;
    width: 100%;
}

.redondeo{
    width: 100%;
    max-width: 582px;
    max-height: 50px;
    display: inline-flex;
    grid-column-gap: 10px;
    grid-template-columns: 30px auto 30px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 100px;
    padding: 0px 20px 0px 0px;
    background-color: #F2F2F2;
    z-index: 4;
}
.redondeo:hover{
    box-shadow: 0px 1px 6px rgba(32,33,36,0.28);

}
.input{
    width: 100%;
    border: 1px solid rgba(0,0,0,0.0);
    background-color: #F2F2F2;
}