body{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
nav{
    background: rgb(151, 151, 151);
    font-weight:bold;
    color: #616161;
}
p{
    font-size: x-large;
}
h1{
    font-weight:bolder;
}
h2{
    font-weight:bold;
}
.contacto{
    background: rgb(104, 104, 104);
}
.capsula1{
    font-weight: bold;
}
.capsula2{
    font-weight: lighter;
}
.btn-primary{
    background-color: #616161;
    border-color: rgb(151, 151, 151);
}
.seguime{
    font-size: large;
    font-weight: bold;
}
.copy{
    font-size:medium;

}
a{
    color: #616161;
}