.pattern{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #e5e5f7;
    opacity: 0.4;
    background-image:  linear-gradient(30deg, #c27e90 12%, transparent 12.5%, transparent 87%, #c27e90 87.5%, #c27e90), linear-gradient(150deg, #c27e90 12%, transparent 12.5%, transparent 87%, #c27e90 87.5%, #c27e90), linear-gradient(30deg, #c27e90 12%, transparent 12.5%, transparent 87%, #c27e90 87.5%, #c27e90), linear-gradient(150deg, #c27e90 12%, transparent 12.5%, transparent 87%, #c27e90 87.5%, #c27e90), linear-gradient(60deg, #c27e9077 25%, transparent 25.5%, transparent 75%, #c27e9077 75%, #c27e9077), linear-gradient(60deg, #c27e9077 25%, transparent 25.5%, transparent 75%, #c27e9077 75%, #c27e9077);
    background-size: 64px 112px;
    background-position: 0 0, 0 0, 32px 56px, 32px 56px, 0 0, 32px 56px;
    z-index: -1;
}

body{
    color: rgb(0, 0, 0);
    }

nav{
    background: #c27e90;
    font-weight:bold;
    color: #616161;
}
.logo img{
    width: 5rem;
}
section{
    width: auto;
    margin: 20px;
    padding: 10px;
}

p{
    font-size: x-large;
}
h1{
    font-weight:bolder;
}
h2{
    font-weight:bold;
}
.capsula1{
    font-weight: bold;
}
.capsula2{
    font-weight: lighter;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #754c57 !important;
    border: 1px solid #754c57 !important;
    border-radius: 15px;
    color: white !important;
}
.seguime{
    font-size: large;
    font-weight: bold;
}
.copy{
    font-size:medium;

}
a{
    text-decoration: none;
    color: #616161;
}
.tendencias{
    text-decoration: none !important;
}
footer{
    background-color: #c27e90;
}
.seguime p{
    color: #754c57;
}
.contacto{
    background: #825561 !important;
    border-radius: 20px;
    color: white;
}
.jorge{
    background: white !important;
    border-radius: 20px;
}
.posteos{
    background: white !important;
    border-radius: 20px;
}
.post_info{
    text-decoration: none;
    font-size:1.2rem;
}
.pfp{
    border-radius: 100%;
    size: 10rem;
}
.comentario{
    font-size: 1.2rem;
}
.likes img{
    width: 50px;
}